<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
=======
>>>>>>> 3c021153967dfd9ce624435b13c46d0b2dc6a329
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none
}
p, h1, h2, h3, h4, h5, h6, a, span {
<<<<<<< HEAD
  font-family: 'Inter', sans-serif;
=======
  font-family: 'Inter';
>>>>>>> 3c021153967dfd9ce624435b13c46d0b2dc6a329
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD
a:hover p {
  color: black;
}
input {
  font-weight: 400 !important;
  font-size: 14px !important;
  border-radius: 8px !important;
}
button {
  border: none;
  background: none;
}
=======
a:active, a:hover {
  color: #5E96FC;
}
a:hover p {
  color: black;
}
>>>>>>> 3c021153967dfd9ce624435b13c46d0b2dc6a329
.layout {
  min-height: 100vh;
  background: rgb(248, 245, 245);
}