* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none
}
p, h1, h2, h3, h4, h5, h6, a, span {
  font-family: 'Inter';
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}
a:active, a:hover {
  color: #5E96FC;
}
a:hover p {
  color: black;
}
.layout {
  min-height: 100vh;
  background: rgb(248, 245, 245);
}