.vacancy-box {
  padding: 24px;
  background: white;
  margin: 16px auto;
  position: relative;
  left: 0;
  bottom: 0;
  max-width: 770px;
  transition: ease-in .3s;
  font-size: 16px;
  cursor: default;
}
.vacancy-title {
  max-width: 90%;
  font-weight: 700;
  font-size: 28px;
}
.vacancy-star-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}
.vacancy-star-btn:hover {
  opacity: .7;
}
.vacancy-info {
  display: flex;
  margin: 16.5px 0;
  font-size: 20px;
}
.vacancy-salary {
  font-weight: 700;
}
.vacancy-type {
  font-weight: 400;
}
.vacancy-info-point {
  margin: 0 12px;
}
.vacancy-location {
  display: flex;
  align-items: center;
  height: 16px;
}
.vacancy-location > img {
  margin-right: 12px;
}
.vacancy-box.undetails > .vacancy-info {
  margin: 13px 0;
  font-size: 16px;
}
.vacancy-box.undetails:hover {
  left: -5px;
  bottom: -5px;
  box-shadow: 3px 3px 10px 1px black;
  cursor: pointer;
}
.vacancy-box.undetails > .vacancy-title {
  font-weight: 600;
  font-size: 20px;
  color: #5E96FC;
}
.details-box {
  padding: 24px ;
  background: white;
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.details-box > b, .details-box > p > b {
  font-size: 20px !important;
  margin-bottom: 16px;
  font-style: normal
}
.details-box > p {
  margin-bottom: 16px;
}
.details-box > ul > li {
  list-style-type: disc;
  margin-left: 24px;
}
.vacancy-star:hover {
  opacity: .6;
}
@media (max-width: 800px) {
  .vacancy-box, .details-box {
    margin: 20px;
  }
}
@media (max-width: 600px) {
  .vacancy-box {
    /* margin: 20px; */
    text-align: center;
  }
  .vacancy-title {
    max-width: 90%;
    font-weight: 700;
    font-size: 20px;
  }
  .vacancy-info {
    display: block;
    text-align: center;
  }
  .vacancy-location {
    display: block;
    height: 100%;
  }
  .details-box {
    font-size: 14px;
  }
}